In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.feature_selection import SelectKBest , chi2
from sklearn.tree import DecisionTreeClassifier

In [31]:
df = pd.read_csv("student_exam_performance.csv")
df.head()

,student_id,gender,study_hours,class_participation,attendance_rate,previous_scores,parental_education,internet_access,passed
0,S1000,Male,0.4,9,95.4,64.0,Bachelor,No,Yes
1,S1001,Male,8.0,9,68.8,85.6,High School,No,Yes
2,S1002,Female,6.7,10,97.1,42.2,High School,Yes,Yes
3,S1003,Male,7.8,5,59.9,45.3,High School,No,Yes
4,S1004,Male,7.4,7,79.6,55.1,Master,No,Yes

In [32]:
df.drop(columns=['student_id'],inplace=True)

In [33]:
df.head()

,gender,study_hours,class_participation,attendance_rate,previous_scores,parental_education,internet_access,passed
0,Male,0.4,9,95.4,64.0,Bachelor,No,Yes
1,Male,8.0,9,68.8,85.6,High School,No,Yes
2,Female,6.7,10,97.1,42.2,High School,Yes,Yes
3,Male,7.8,5,59.9,45.3,High School,No,Yes
4,Male,7.4,7,79.6,55.1,Master,No,Yes

In [34]:
df.isnull().sum()

gender                 0
study_hours            0
class_participation    0
attendance_rate        0
previous_scores        0
parental_education     0
internet_access        0
passed                 0
dtype: int64

In [38]:
# Train _ test _ split -> 
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['passed']),
                                                 df['passed'],
                                                 test_size=0.2,
                                                 random_state=42)

In [39]:
X_train.head()

,gender,study_hours,class_participation,attendance_rate,previous_scores,parental_education,internet_access
79,Female,0.9,3,97.5,49.1,Bachelor,No
197,Male,0.0,4,70.6,57.7,Master,Yes
38,Female,1.0,6,63.9,82.3,Master,Yes
24,Female,4.6,3,73.0,77.8,Master,Yes
122,Female,7.4,3,88.8,65.8,High School,No

In [41]:
X_test.head()

,gender,study_hours,class_participation,attendance_rate,previous_scores,parental_education,internet_access
95,Male,5.1,3,52.7,77.4,Master,Yes
15,Male,3.6,8,83.1,69.9,High School,No
30,Female,6.8,7,96.0,53.5,High School,Yes
158,Male,1.4,4,53.0,63.7,Bachelor,Yes
128,Male,5.9,5,78.4,76.6,Bachelor,No

# Encode Categorical Variables

In [42]:
categorical_cols = ['gender', 'internet_access', 'parental_education']
numeric_cols = ['math_score', 'reading_score', 'writing_score', 'class_participation']

In [43]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(transformers=[
    ('num', MinMaxScaler(), numeric_cols),
    ('cat', OneHotEncoder(drop='first'), categorical_cols)
])

from sklearn
preprocessor = ColumnTransformer(transformers=[
    ('num', MinMaxScaler(), numeric_cols),
    ('cat', OneHotEncoder(drop='first'), categorical_cols)
])

In [46]:
from sklearn.linear_model import LogisticRegression
pipe = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('model', LogisticRegression())
])

In [47]:
pipe = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('model', LogisticRegression())
])

In [48]:
pipe.fit(X_train, y_train)

ValueError: A given column is not a column of the dataframe